.carousel-item img{
    width:600px;
    height: 500px;
    overflow: hidden;
}
.carousel-item{
    text-align: center;
}


.home-1{
    text-align: center;
     font-size: 22px;
     color: purple; 
     font-weight: bold;
    text-transform: uppercase;

}